/*The CSS code is property to Mr. You (Kristiyan Valchev) and can only be viewed*/
/*If you want to use part of the code, please first contact me: mr.youdevelopment@gmail.com*/

html
{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    background-color: #515070;
    overflow-x: hidden;
}

/*#region Scrow bar */
::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #303050;
}

::-webkit-scrollbar-thumb
{
	background: #ff8e6e; 
}

::-webkit-scrollbar-thumb:hover
{
	background: #ee7d5d; 
}
/*#endregion Scrow bar */

/*#region Loader */
.Loader
{
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #515070;
	justify-content: center;
	align-items: center;
    overflow: hidden;
    
	z-index: 99;
}

.Loader img
{
    position: absolute;
    width: 100%;
    bottom: 0;
    mix-blend-mode: darken;
    opacity: .3;
    overflow: hidden;
}

.Loader.hidden
{
	animation: fadeOutt 1s;
	animation-fill-mode: forwards;
	overflow-y: visible;
}

@keyframes fadeOutt
{
	100%
	{
		opacity: 0;
		visibility: hidden;
	}
}

.obj
{
	width: 15px;
	height: 0px;
	background: #ff8e6e;
    border-radius: 10px;
	margin: 0 3px;
    
	animation: Loader 0.8s infinite;
}

.obj:nth-child(2)
{
	animation-delay: 0.1s;
}
.obj:nth-child(3)
{
	animation-delay: 0.2s;
}
.obj:nth-child(4)
{
	animation-delay: 0.3s;
}
.obj:nth-child(5)
{
	animation-delay: 0.4s;
}
.obj:nth-child(6)
{
	animation-delay: 0.5s;
}
.obj:nth-child(7)
{
	animation-delay: 0.6s;
}
.obj:nth-child(8)
{
	animation-delay: 0.7s;
}

@keyframes Loader
{
	0%
	{
		height: 0;
        background: #ffbb91;
	}
	
	50%
	{
		height: 80px;
	}
	
	100%
	{
		height: 0;
        background: #ff8e6e;
	}
}
/*#endregion Loader */

/*#region Top bar */
.topBar
{
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background-color: transparent;

    z-index: 30;

    animation: dropDown .5s ease-out forwards .5s;
    transform: translateY(-50px);
    opacity: 0;
}

.topBar a
{
    float: right;
    position: relative;
    top: 33;
    right: 30;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #f6f6f6a0;
    padding: 12px 36px;

    animation: fadeIn .3s ease-out forwards .55s;
    opacity: 0;
}

.topBar a::before
{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -5px;
    left: 5%;
    background-color: #ff8e6e;
    visibility: hidden;
    transform: scaleX(0);
    
    transition: ease .3s;
}

.topBar a:hover::before
{
    visibility: visible;
    transform: scaleX(1);
}

.topBar a.Logo
{
    float: left;
    left: 30;
    right: auto;
    color: #f6f6f6;
    padding-left: 65px;
}

.topBar a.Logo::before
{
    width: 65%;
    bottom: -5px;
    left: 23%;
}

.topBar a.Logo div
{
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: 0;
    background-color: #ff8e6e;
    border-radius: 999px;
}

.topBar a.Active
{
    color: #f6f6f6;
}

.topBar a.threeLineButton
{
    display: none;
    float: right;
    position: absolute;
    width: 60px;
    height: 32px;
    top: calc(50% - 15px);
    padding: 0;
}

.topBar a.threeLineButton div
{
    float: right;
    position: absolute;
    height: 3px;
    right: 0;
    background-color: #f6f6f6;
}

.topBar a.threeLineButton div:nth-child(1)
{
    width: 100%;
    top: 1;
}

.topBar a.threeLineButton div:nth-child(2)
{
    width: 50%;
    top: calc(50% - .5px);
}

.topBar a.threeLineButton div:nth-child(3)
{
    width: 100%;
    bottom: 0;
}

.topBar a.threeLineButton:hover div
{
    width: 100%;
}

.topBar a.threeLineButton:hover::before
{
    visibility: hidden;
}
/*#endregion Top bar */

/*#region Side menu */
.siteMenu
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #303050;

    z-index: 40;

    transform: translateX(100%);
}

.siteMenu a.closeButton
{
    float: right;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 26;
    left: auto;
    right: 30;
}

.siteMenu a.closeButton div
{
    position: absolute;
    width: 100%;
    height: 3px;
    top: calc(50% - 2px);
    left: 0;
    background-color: #f6f6f6;
}

.siteMenu a.closeButton div:nth-child(1)
{
    transform: rotate(45deg);
}

.siteMenu a.closeButton div:nth-child(2)
{
    transform: rotate(-45deg);
}

.siteMenu a.closeButton:hover div
{
    background-color: #ff8e6e;
}

.siteMenu a
{
    position: absolute;
    width: 100%;
    top: 120;
    left: 0;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    line-height: 26px;
    color: #f6f6f6;
}

.siteMenu a:nth-child(3) { top: 180; }
.siteMenu a:nth-child(4) { top: 240; }
.siteMenu a:nth-child(5) { top: 300; }

.siteMenu a:hover
{
    color: #ffbb91;
}

.siteMenu a.Active
{
    font-weight: bold;
}

.siteMenu a.Active div:nth-child(1)
{
    position: absolute;
    width: 40px;
    height: 3px;
    top: calc(50% - 1px);
    left: calc(50% - 130px);
    background-color: #ffbb91;
}

.siteMenu a.Active div:nth-child(2)
{
    position: absolute;
    width: 40px;
    height: 3px;
    top: calc(50% - 1px);
    left: calc(50% + 90px);
    background-color: #ffbb91;
}

.siteMenu a.Active:hover div:nth-child(1)
{
    left: calc(50% - 140px);
    background-color: #eeaa80;
}

.siteMenu a.Active:hover div:nth-child(2)
{
    left: calc(50% + 100px);
}
/*#endregion Side menu */

/*#region Main Things */
.mainSideImagesHolder
{
    position: absolute;
    width: 100%;
    height: 1100px;
    overflow: hidden;
}

.mainImage
{
    float: right;
    position: absolute;
    width: 550px;
    top: 140;
    right: 120;

    z-index: 3;

    animation: dropDown .5s ease-out forwards .9s;
    transform: translateY(-50px);
    opacity: 0;
}

.mainTitle
{
    position: absolute;
    width: 500px;
    top: 240;
    left: 120;
    font-size: 80px;
    font-weight: bolder;
    line-height: 80px;
    color: #f6f6f6;

    animation: dropDown .5s ease-out forwards .7s;
    transform: translateY(-50px);
    opacity: 0;
}

.mainText
{
    position: absolute;
    width: 500px;
    top: 330;
    left: 120;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #f6f6f6a0;

    animation: dropDown .5s ease-out forwards .8s;
    transform: translateY(-50px);
    opacity: 0;
}

.mainButton
{
    position: absolute;
    top: 480;
    left: 120;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    color: #f6f6f6;
    background-color: #ff8e6e;
    padding: 10px 30px;

    animation: dropDown .5s ease-out forwards .9s;
    transform: translateY(-50px);
    opacity: 0;
}

.mainButton:hover
{
    background-color: #ee7d5d;
    padding: 10px 40px;
}
/*#endregion Main Things */

/*#region Page content */
.pageContent
{
    position: absolute;
    width: 100%;
    height: auto;
    top: 800;
    left: 0;
    background-color: #404060;

    z-index: 1;
}

.pageContent .Section
{
    position: relative;
    width: calc(100% - 200px);
    min-height: 600px;
    left: 100;
    background-color: transparent;
    margin-top: 200px;

    animation: dropDown .5s ease-out forwards 1.1s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section.Contacts
{
    min-height: 240px;
    margin-bottom: 200px;
}

/*#region Page content decoration */
.pageContent .Section .sectionMainDecoration
{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 20;
    left: 0;

    animation: dropDown .5s ease-out forwards 1.2s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionMainDecoration .sectionMainDecorationMainLine
{
    position: absolute;
    width: 100%;
    height: 4px;
    top: calc(50% - 2px);
    left: 0;
    background-color: #ff8e6e;
}

.pageContent .Section .sectionMainDecoration .sectionMainDecorationCross
{
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 5;
    background-color: #404060;
}

.pageContent .Section .sectionMainDecoration .sectionMainDecorationCross:nth-child(3)
{
    left: 20;
}

.pageContent .Section .sectionMainDecoration .sectionMainDecorationMainSercle
{
    float: right;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    right: 0;
    background-color: #ff8e6e;
    border-radius: 999px;
}

.pageContent .Section .sectionMainDecoration .sectionMainDecorationCrossSercle
{
    float: right;
    position: absolute;
    width: 12px;
    height: 12px;
    top: calc(50% - 12px / 2);
    right: 4;
    background-color: #404060;
    border-radius: 999px;
}
/*#endregion Page content decoration */

.pageContent .Section .sectionTitle
{
    position: relative;
    width: calc(100% - 100px - 60px);
    top: 25;
    left: 130;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #f6f6f6;

    animation: dropDown .5s ease-out forwards 1.2s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionText
{
    position: relative;
    width: calc(100% - 120px - 60px);
    top: 64;
    left: 120;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #f6f6f6;

    animation: dropDown .5s ease-out forwards 1.3s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionTextAfterCroppedImage
{
    position: relative;
    width: calc(100% - 520px - 60px);
    top: 240;
    left: 550;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    color: #f6f6f6;

    animation: dropDown .5s ease-out forwards 1.4s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionCroppedImage
{
    position: absolute;
    height: 400px;
    top: 100;
    left: 120;
    filter: brightness(.6);

    clip-path: polygon(0 0, 100% 0, 100% 150px, 350px 150px, 350px 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 150px, 400px 150px, 400px 100%, 0 100%);

    animation: dropDown .5s ease-out forwards 1.3s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionButton
{
    float: right;
    position: absolute;
    bottom: 60;
    right: 60;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    color: #f6f6f6;
    background-color: #ff8e6e;
    padding: 10px 30px;

    animation: dropDown .5s ease-out forwards 1.5s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionButton:hover
{
    background-color: #ee7d5d;
    padding: 10px 40px;
}

.pageContent .Section .sectionList
{
    position: relative;
    width: calc(100% - 120px + 100px);
    height: 360px;
    top: 80;
    left: 120;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    animation: dropDown .5s ease-out forwards 1.4s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionList::-webkit-scrollbar
{
    height: 5px;
    width: 50%;
}

.pageContent .Section .sectionList .listBlock
{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    top: 0;
    left: 0;
    background-color: #515070;
    margin-right: 10px;

    animation: dropDown .5s ease-out forwards;
    transform: translateY(-50px);
    opacity: 0;
}

/*#region Animation */
.pageContent .Section .sectionList .listBlock:nth-child(1){ animation-delay: 1.45s; }
.pageContent .Section .sectionList .listBlock:nth-child(2){ animation-delay: 1.5s; }
.pageContent .Section .sectionList .listBlock:nth-child(3){ animation-delay: 1.55s; }
.pageContent .Section .sectionList .listBlock:nth-child(4){ animation-delay: 1.6s; }
.pageContent .Section .sectionList .listBlock:nth-child(5){ animation-delay: 1.65s; }
.pageContent .Section .sectionList .listBlock:nth-child(6){ animation-delay: 1.7s; }
.pageContent .Section .sectionList .listBlock:nth-child(7){ animation-delay: 1.75s; }
.pageContent .Section .sectionList .listBlock:nth-child(8){ animation-delay: 1.8s; }
.pageContent .Section .sectionList .listBlock:nth-child(9){ animation-delay: 1.85s; }
.pageContent .Section .sectionList .listBlock:nth-child(10){ animation-delay: 1.9s; }
.pageContent .Section .sectionList .listBlock:nth-child(11){ animation-delay: 1.95s; }
.pageContent .Section .sectionList .listBlock:nth-child(12){ animation-delay: 2s; }
/*#endregion Animation */

.pageContent .Section .sectionList .listBlock:hover
{
    width: 210px;
}

.pageContent .Section .sectionList .listBlock .listImageHolder
{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.pageContent .Section .sectionList .listBlock .listImageHolder img
{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.pageContent .Section .sectionList .listBlock p
{
    position: absolute;
    width: 100%;
    bottom: -30;
    left: 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    color: #f6f6f6;
}

.pageContent .Section .mainContactsList
{
    position: relative;
    width: calc(150px + 40px);
    height: 50px;
    top: 80;
    left: 120;

    animation: dropDown .5s ease-out forwards 1.4s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .mainContactsList a
{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #ff8e6e;
    border-radius: 999px;
}

.pageContent .Section .mainContactsList a:hover
{
    background-color: #ee7d5d;
}

.pageContent .Section .mainContactsList a i
{
    position: absolute;
    width: 100%;
    top: calc(50% - 12px);
    left: 0;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #f6f6f6;
}

.pageContent .Section .mainContactsList a.F
{
    left: 70;
}

.pageContent .Section .mainContactsList a.M
{
    left: 140;
}
/*#endregion Page content */

/*#region Decoration */
.mainImageDecorationPlusses
{
    float: right;
    position: absolute;
    width: 550px;
    top: 300;
    right: 40;
    
    z-index: 2;

    animation: dropDown .5s ease-out forwards .95s;
    transform: translateY(-50px);
    opacity: 0;
}

.pageContent .Section .sectionDecorationPlusses
{
    position: absolute;
    width: 550px;
    top: 170;
    left: -100;
}

.mainImageDecorationSercleHolder
{
    float: right;
    position: absolute;
    width: 550px;
    height: 550px;
    top: 450;
    right: -100;
    background-color: transparent;

    z-index: 0;

    animation: dropDown .5s ease-out forwards 1s;
    transform: translateY(-50px);
    opacity: 0;
}

.mainImageDecorationSercleHolder .mainImageDecorationSercle
{
    position: absolute;
    width: 550px;
    height: 550px;
    top: 0;
    left: 0;
    border-radius: 999px;
    background-color: #ffbb91;
}

.mainImageDecorationSercleHolder .mainImageDecorationSercleCross
{
    position: absolute;
    width: 450px;
    height: 450px;
    top: 50;
    left: 50;
    border-radius: 999px;
    background-color: #515070;
}

.pageContent .Section .sectionBackBox
{
    position: absolute;
    width: 250px;
    height: 200px;
    top: 310;
    left: 110;
    background-color: #ff8e6e;

    z-index: -1;
}
/*#endregion Decoration */

/*#region Bottom bar */
.bottomBar
{
    position: absolute;
    width: 100%;
    height: 250px;
    top: 2900;
    left: 0;
    background-color: #101030;

    z-index: 4;

    animation: dropDown .5s ease-out forwards 1.5s;
    transform: translateY(-50px);
    opacity: 0;
}

.bottomBar .directionButton
{
    position: absolute;
    width: 33%;
    height: 50px;
    top: 60;
    background-color: transparent;

    animation: fadeIn .3s ease-out forwards 1.8s;
    opacity: 0;
}

.bottomBar .directionButton.N
{
    left: 0;
}

.bottomBar .directionButton.Z
{
    left: 33%;
}

.bottomBar .directionButton.M
{
    left: 66%;
}

.bottomBar a
{
    position: absolute;
    width: 100%;
    top: calc(50% - 18px);
    left: 0;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #e5e5e5;
    opacity: .7;
}

.bottomBar a:hover
{
    color: #ff8e6e;
    opacity: 1;
}

.bottomBar a.Active
{
    font-weight: bold;
}

.bottomBar .Credits
{
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 10;
    text-align: center;
    color: #e5e5e540;
}

.bottomBar .Credits powerd:hover company
{
    color: #61da7d;
    transition: ease .3s;
}

.bottomBar .Credits managed:hover my
{
    color: #028bc2;
    transition: ease .3s;
}
/*#endregion Bottom bar */

img
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

a
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: ease .3s;
}

p, div, h1, h2, h3, h4, h5, h6, i, img
{
    padding: 0;
    margin: 0;
    transition: ease .3s;
}

/*#region Animations */
@keyframes popUp
{
    0%
    {
        transform: translateY(50px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes dropDown
{
    0%
    {
        transform: translateY(-50px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes defaultAnimation
{
    0%
    {

    }

    100%
    {

    }
}
/*#endregion Animations */

/*#region Media 1300-1000 */
@media screen and (max-width: 1300px)
{
    .mainTitle, .mainText, .mainButton
    {
        left: 60;
    }
}

@media screen and (max-width: 1200px)
{
    .mainImage
    {
        width: 400px;
        top: 200;
        right: 60;
    }

    .mainImageDecorationPlusses
    {
        width: 400px;
        top: 360;
        right: -40;
    }
}

@media screen and (max-width: 1100px)
{

}

@media screen and (max-width: 1000px)
{
    .mainImage
    {
        width: 350px;
        top: 400;
        right: 60;
    }

    .mainImageDecorationPlusses
    {
        width: 350px;
        top: 500;
        right: -40;
    }

    .mainImageDecorationSercleHolder
    {
        top: 450;
        right: -150;
        transform: scale(.7, .7);
    }

    .pageContent .Section
    {
        width: calc(100% - 60px);
        left: 30;
    }

    .pageContent .Section .sectionList
    {
        width: calc(100% - 120px + 30px);
    }
}
/*#endregion Media 1300-1000 */

/*#region Media 900-800 */
@media screen and (max-width: 900px)
{
    .bottomBar a
    {
        font-size: 22px;
    }
}

@media screen and (max-width: 800px)
{
    .topBar a
    {
        display: none;
    }

    .topBar a.Logo, .topBar a.threeLineButton
    {
        display: unset;
    }

    .mainTitle
    {
        width: calc(100% - 120px);
        top: 180;
        font-size: 50px;
        line-height: 50px;
    }

    .mainText
    {
        width: calc(100% - 120px);
        top: 240;
    }

    .mainButton
    {
        top: 330;
    }

    .pageContent .Section
    {
        margin-top: 100px;
    }

    .pageContent .Section.Contacts
    {
        margin-bottom: 100px;
    }

    .pageContent .Section .sectionDecorationPlusses
    {
        width: 400px;
        top: 250;
    }

    .pageContent .Section .sectionMainDecoration
    {
        width: 80px;
        top: 0;
    }

    .pageContent .Section .sectionTitle
    {
        width: calc(100% - 30px);
        top: 50;
        left: 15;
    }

    .pageContent .Section .sectionText
    {
        width: calc(100% - 30px);
        top: 70;
        left: 15;
    }

    .pageContent .Section .sectionList
    {
        width: calc(100% - 30px);
        top: 100;
        left: 15;
    }

    .pageContent .Section .sectionTextAfterCroppedImage
    {
        width: calc(100% - 30px);
        top: 400;
        left: 15;
    }

    .pageContent .Section .sectionCroppedImage
    {
        height: 300px;
        top: 110;
        left: 15;

        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%);
    }

    .pageContent .Section .sectionButton
    {
        float: left;
        bottom: 15;
        left: 15;
        right: auto;
    }

    .pageContent .Section .sectionBackBox
    {
        width: 200px;
        height: 250px;
        top: 100;
        left: 275;
    }

    .pageContent .Section .mainContactsList
    {
        top: 90;
        left: 15;
    }

    .bottomBar
    {
        top: 2600;
    }

    .bottomBar .Credits
    {
        width: calc(100% - 30px);
        bottom: 10;
        left: 15;
        font-size: 12px;
    }
}
/*#endregion Media 900-800 */

/*#region Media 700-600 */
@media screen and (max-width: 700px)
{

}

@media screen and (max-width: 600px)
{
    .pageContent .Section
    {
        width: 100%;
        left: 0;
    }

    .pageContent .Section .sectionMainDecoration
    {
        left: 15;
    }

    .pageContent .Section .sectionTitle, .pageContent .Section .sectionText
    {
        width: calc(100% - 60px);
        left: 30;
    }

    .pageContent .Section .sectionList
    {
        width: calc(100% - 60px);
        left: 30;
    }

    .pageContent .Section .sectionTextAfterCroppedImage
    {
        width: calc(100% - 60px);
        top: 370;
        left: 30;
    }

    .pageContent .Section .sectionCroppedImage
    {
        width: 400px;
        height: auto;
        left: 30;
    }

    .pageContent .Section .sectionBackBox
    {
        width: 200px;
        height: 250px;
        top: 100;
        left: 240;
    }

    .pageContent .Section .sectionButton
    {
        left: 30;
    }

    .pageContent .Section .mainContactsList
    {
        left: 30;
    }
}
/*#endregion Media 700-600 */

/*#region Media 500-400 */
@media screen and (max-width: 500px)
{
    .mainImage
    {
        width: 260px;
        top: 500;
        right: 30;
    }

    .mainImageDecorationPlusses
    {
        width: 260px;
        top: 550;
        right: -20;
    }

    .mainTitle, .mainText
    {
        width: calc(100% - 60px);
        left: 30;
    }

    .mainButton
    {
        left: 30;
    }

    .pageContent .Section.forUs
    {
        min-height: 520px;
    }

    .pageContent .Section .sectionTextAfterCroppedImage
    {
        width: calc(100% - 60px);
        top: 270;
    }

    .pageContent .Section .sectionCroppedImage
    {
        width: 260px;
        left: 30;
    }

    .pageContent .Section .sectionBackBox
    {
        width: 200px;
        height: 150px;
        top: 100;
        left: 100;
    }

    /*#region Bottom bar */
    .bottomBar
    {
        height: 200px;
        top: 2540;
    }

    .bottomBar .directionButton
    {
        top: 30;
        width: 100%;
        height: 35px;
    }

    .bottomBar .directionButton.N, .bottomBar .directionButton.Z, .bottomBar .directionButton.M
    {
        left: 0;
    }

    .bottomBar .directionButton.Z
    {
        top: 70;
    }

    .bottomBar .directionButton.M
    {
        top: 110;
    }
    /*#endregion Bottom bar */
}

@media screen and (max-width: 400px)
{
    .topBar
    {
        height: 100px;
    }

    .topBar a.Logo
    {
        top: 23;
        left: 15;
    }

    .topBar a.threeLineButton
    {
        right: 15;
    }

    .mainButton
    {
        top: 350;
    }
}
/*#endregion Media 500-400 */

/*#region Media 350 */
@media screen and (max-width: 350px)
{
    .mainImageDecorationSercleHolder
    {
        top: 450;
        right: -200;
        transform: scale(.5, .5);
    }
}
/*#endregion Media 350 */
